
/*mobile [iPhone 6/7/8]*/

@media only screen and (max-width:400px){

* {
	margin:10px;
	padding: 0;
	background-color: #FFDA57; 
}

footer {
	background: none;
	margin-top: 20px;
	text-align: center;
	display: relative;
}

.container__main {
	background-color: white;
	margin: 0;
	height: 100%;
}

.logo {
	background-color: white;
	height: 95px;
}

header, div, h2{
	margin: 0;
	background: none;
	display: block;
}

p{
	background: none;
}

ul {
	margin: 0;
	display: block;
	list-style: none;
	margin-top: 80px;
	margin-left: 50px;
	float:right;
	background-color: none;
}
ul::after{
	clear : right;
}
ul li{
	display: inline-block;
	background: none;
	text-align:center;
	font-size: 25px;
	width: 100px;
}

li a{
	text-decoration-style: none;
	color: black;
}
li a:hover{
	color: #C13E22;
}

h2 {
	margin-top: 40px;
	font-size: 30px;
	text-align: center;
	background: none;
	display: inline-block;
}

.img__title {
	margin: 0;
	background: none;
}

.img_menu {
	height: 140px;
	margin: 20px;
}









/*Menu Drop*/
#menu__sort, #menu__filter {
  background-color: white;
  color: #C13E22;
  padding: 16px;
  font-size: 20px;
  border: solid 2px #FFDA57;
  cursor: pointer;
  float: right;
  margin-right: 25px; 
}

/* Dropdown button on hover & focus */
#menu__sort:hover, #menu__filter:hover {
  background-color: #C13E22;
  border: solid 2px #FFDA19;
  color: white;
}
/*Menu Drop*/









.menu__grid,.menu__list{
	background: none;
	margin: 0;
}

.menu__grid {
  border: 1px solid #333;
  margin: 20px;
  margin-top: 80px;
}

/* clear fix */
.menu__grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

.menu__list {
  position: relative;
  float: left;
  width: 97%;
  height: 225px;
  margin: 5px;
  padding: 10px;
  border: 2px solid red;
}

.menu__list > * {
  margin: 0;
  padding: 0;
}

.menu__list .item {
  position: relative;
  top: 15px;
  text-transform: none;
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: normal;
  line-height: 25px;
}







.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  right: -10px;
  background-color: #FFDA57;
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay__content {
  position: relative;
  width: 35%;
  text-align: center;
  margin-top: 5px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 45px;
  color: black;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #C13E22;
}

.overlay .closebtn {
  position: absolute;
  top: -20px;
  right: 30px;
  font-size: 70px;
}

.menuIcon {
  font-size:70px;
  cursor:pointer;
  float: right;
  margin-right: 16px;
  margin-top: -115px;
  background: none;
}

}