* {
	margin: 40px;
	padding: 0;
	background-color: #FFDA57; 
}


.container__main {
	background-color: white;
	margin: 0;
	height: 1500px;
}

.logo {
	background-color: white;
	height: 125px;
}

header {
	margin: 0;
	background: none;
	display: block;
}

ul {
	margin: 0;
	display: block;
	list-style: none;
	margin-top: 80px;
	margin-left: 50px;
	float:right;
	background-color: white;
}
ul::after{
	clear : right;
}
ul li{
	display: inline-block;
	background: none;
	text-align:center;
	font-size: 25px;
	width: 100px;
}

li a{
	text-decoration-style: none;
	color: black;
}
li a:hover{
	color: #C13E22;
}

.myicon{
	display: none;
}


h2 {
	margin: 80px 0px 0px 660px;
	background: none;
	display: inline-block;
}

.img__title {
	margin: 0;
	background: none;
}

.img_menu {
	height: 775px;
}









/*Menu Drop*/
.menu__sort, .menu__filter {
  background-color: white;
  color: #C13E22;
  padding: 16px;
  font-size: 40px;
  border: solid 2px #FFDA57;
  cursor: pointer;
  float: right;
  margin-right: 50px; 
}

/* Dropdown button on hover & focus */
.menu__sort:hover, .menu__filter:hover, .menu__sort:focus, .menu_filter:focus {
  background-color: #C13E22;
  border: solid 2px #FFDA19;
  color: white;
}
/*Menu Drop*/












/*mobile*/

@media only screen and (max-width:576px){
	nav{
		display:none;
	}
	ul li{
	display: block;
	
	/*margin: 10px;*/
	}

	.myicon{
			margin-top: 5px;
			margin-bottom : 20px;
			float: right;
			font-size:30px;
			color: blue;
			display: block;
			position: fixed;
			top: 8px;
			right: 10px;
	}
	.myicon::after{
		clear : right;
	}
	.active{
		display:block;
	}
}